<table class="table table-green">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">VehicleId</th>
      <th scope="col">tagId</th>
      <th scope="col">tagProvider</th>
      <th scope="col">providerAbbr</th>
      <th scope="col">licenseYear</th>
    </tr>
  </thead>
  <tbody *ngFor="let elem of a; index as i">
    <tr id="items" (click)="showData(i)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ elem["vehicleID"] }}</td>
      <td>{{ elem["tagID"] }}</td>
      <td>{{ elem["tagProvider"] }}</td>
      <td>{{ elem["providerAbbr"] }}</td>
      <td>{{ elem["licenseYear"] }}</td>
    </tr>
  </tbody>
</table>
